<?xml version="1.0"?>

<model>
  <name>x100 World</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Tarik Pozderac</name>
    <email>tpozderac1@etf.unsa.ba</email>
  </author>

  <description>
    World of x100 with ROS symbol
  </description>
</model>
